{% extends 'BcUserAdminBundle::layout.html.twig' %}

{% block bc_user_admin_content %}

<h1>{{ 'user.create_user'|trans({}, 'BcUserAdminBundle') }}</h1>

<form action="{{ path('bc_user_admin_create') }}" method="post" class="form-horizontal" {{ form_enctype(form) }}>

    {{ form_widget(form, {'form_type': 'horizontal'}) }}

    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn">{{ 'user.create_user'|trans({}, 'BcUserAdminBundle') }}</button>
        </div>
    </div>

</form>

{% endblock bc_user_admin_content %}